body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}


h1{
    text-align:center;
    color:#f6f2f2;
}
h2{
    text-align:center;
    color:#0b0b0c1b;
}
.grid{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap:15px;
}

.card{
    background:white;
    padding:15px;
    border-radius:12px;
    box-shadow:0 4px 10px rgba(0,0,0,0.1);
}

input,select{
    width:100%;
    padding:8px;
    margin:5px 0;
    border-radius:6px;
    border:1px solid #ccc;
}

button{
    width:100%;
    padding:10px;
    background:linear-gradient(45deg,#00c6ff,#0072ff);
    border:none;
    color:white;
    border-radius:6px;
    cursor:pointer;
}

button:hover{
    opacity:0.8;
}

table{
    width:100%;
    margin-top:10px;
    border-collapse:collapse;
    background:white;
}

th{
    background:#0072ff;
    color:white;
}

th,td{
    padding:10px;
    border:1px solid #ddd;
    text-align:center;
}
.main-header {
    background-color: #007bff; /* Màu xanh chuẩn trong ảnh của bạn */
    width: 100%;               /* Trải dài hết màn hình */
    padding: 30px 0;           /* Tạo độ cao cho header */
    color: white;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.header-content h1 {
    margin: 0;
    text-align: center;
    font-size: 32px;
    padding-bottom: 20px;
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; /* Căn giữa các mục menu */
    gap: 25px;               /* Khoảng cách giữa các chữ */
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
}

.navbar ul li a:hover, 
.navbar ul li a.active {
    text-decoration: underline; /* Hoặc đổi màu khi di chuột vào */
}
h1 {
    text-align: center;
}